
.ipynb_checkpoints/Test_softmax-Copy1-checkpoint.ipynb
Test_softmax-Copy1.ipynb
Test_sigmoid.ipynb
Test_sigmoid-Copy1.ipynb
Test_ekstra_dropout.ipynb
Test_softmax.ipynb
Billeder/test_softmax.png
Billeder/test_sigmoid_linear_dropout.png
__pycache__/data_utils.cpython-37.pyc
__pycache__/toolbox_02450.cpython-37.pyc
